{% extends "base.html" %}
{% block content %}
    
    <h1>{{ user.username }}</h1>
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ photos.user_id }}</a>
            <a href="/upload_profile_pic">Upload Profile Photo</a>
            {% for photo in photos%}
            <div>
              {{ photo.id}}
            <a id="profile-pic" href="{{ url_for('photo', photo_id=photo.id) }}" </a>
            <img style = width:180px; src = "{{photo.url}}">
            </div>

            
            <a href="{{ url_for('photo', photo_id=photo.id)}}"
            <div>{{photo.comment|length}} Comments</div>
            </a>
            <div>{{photo.likes|length}} Likes</div>

            {% endfor %}
            

{% endblock %}