<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cloudinary Project</title>
    
    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/e6be9a0126.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/site.css">
</head>
<body>
    <h1>Shutterspace</h1>
    <div class="container">
      <div class="navbar-nav">
        {% if current_user.is_authenticated %}
          <p>{{current_user.username}} <br> {{current_user.fname}} {{current_user.lname}}</p>
          <img style = width:80px; src ="{{current_user.profile_pic_url}}">
          <a class="nav-item nav-link" href="{{ url_for('account',user_id=current_user.id)}}">Account</a>
          <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
        {% else %}
          <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
          <a class="nav-item nav-link" href="{{ url_for('register') }}">Create Account</a>
        {% endif %}
        <a href="/upload">Upload photos</a>
      </div>
    </div>
    {% block content %}
    
    {% endblock %}

  <script src="/static/index.js"></script>
  <!-- googlemaps -->
  <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMQe7y-1ty3UxxRzj3JQ-MHM4gEcetUBI&libraries=places&callback=initAutocomplete">
</script>


    
</body>
</html>