{% extends 'base.html' %}

{% block title %}Cloudinary Demo Login Page{% endblock title %}

{% block content %}
<div class="container text-center">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group login-form">
            
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg login-input") }}
            </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {{ form.password(class="form-control form-control-lg login-input") }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

<script src="/static/index.js"></script>
{% endblock %}
