{% extends 'base.html' %}

{% block title %}Photo{% endblock title%}

{% block content %}
    
<div class ="container text-center">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
        <div class="user-name">
        <img class="photo-user-profile" id="profile-img" style = width:30px; src="{{photo.user.profile_pic_url}}">
        <a class="mr-2" href="{{url_for('account',user_id=photo.user.id)}}">{{ photo.user.username }} 
            
        </a>
    
    
        {% if following and current_user.id != photo.user.id %}
        <i class="fa-solid fa-user-minus followBtnStatus follow-btn" id ="follow-btn-{{photo.user_id}}"></i>
        {% elif not following and current_user.id != photo.user.id %}
        <i class="fa-solid fa-user-plus followBtnStatus follow-btn" id ="follow-btn-{{photo.user_id}}"></i>
        {% endif %}
        
        
        </div>
        <img class="photo-img" src = "{{photo.url}}">
    
       
        <br>
        {% if photo.user == current_user %}
        <i class="fa-solid fa-trash-can trash"
            id="delete-photo"></i>
        {% endif %} 
        <div class="photo-like-section">
            <span id="likes-count">
            {{ photo.likes|length }}</span> 
            {% if likes %}    
            <i class="fa-solid fa-heart photo-likes" 
                id="like-button"></i>
            {% else %}
            <i class="fa-regular fa-heart fa-lg photo-likes"
                id="like-button"></i>
            {% endif %}    
        </div>
        <div class="location-section">
        {% if location == False %}
        <i id="add-location" class="fa-solid fa-location-dot fa-lg"></i>
        {% else %}
        <i id="location-btn" class="fa-solid fa-location-dot fa-lg"></i>
        {% endif %}
        </div>
        <br>
        <br>
        <br>
        <div class="container text-start comment-section"> 
            <p class="comment">
                <button class="btn btn-link" type="button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseComments" aria-expanded="false" aria-controls="collapseComments">
                    View Comments
                  </button>
             </p>
            {% for comment in comments %}
            <div class="collapse show" id="collapseComments">
            <p>{{comment.user.username}}:
                <div class="speech-bubble text-start">
                {{comment.comment}} 
                <br>
                <span class="text-right text-muted comment-date">{{comment.comment_date}}</span>
                </div>
                {% if comment.user_id == current_user.id%}
                <button type="button" class="btn btn-link btn-sm" id="delete-comment-{{comment.id}}">Delete</button>
                {% endif %}
            </p> 
    </div>
            {% endfor %}
        
        
        <form method="POST" action="{{url_for('add_comment', photo_id=photo.id)}}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                    <div class="form-group">
                        <!-- {{ form.comment.label(class="form-control-label") }} -->
                        {{ form.comment(class="form-control form-control-lg comment-input", placeholder="Add comment") }}
                        {{ form.submit(class="btn btn-link btn-sm", id="submit-comment") }}
                    </div>
            </fieldset>
            
        </form>
    </div>
</div>
<div class="column-2">

</div>
    </div>
</div>

<script src="/static/index.js"></script>
{% endblock %}

