{% extends "base.html" %}
{% block content %}

<form action="/update_location" methods="POST" >
<input id="autocomplete" name="address" placeholder="Enter location" type="text" />
<p id="output"> data</p>
<input id="lat" name="lat" placeholder="lat"> 
<input id="lng" name="lng" placeholder="lng"> 
<input id="name" name="name" placeholder="name">
<input id="place-id" name="place-id" placeholder="placeId"> 
<input id="photo-id" name="photoId" placeholder="photoId"> 
<br> 
<input id="submit-location" type="submit">
</form>

<div id="map"></div>
<script src="/static/index.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMQe7y-1ty3UxxRzj3JQ-MHM4gEcetUBI&libraries=places&callback=initAutocomplete">
</script>
{% endblock %}

