
.home-photos {
    width: 500 px;
    height: auto

  }
  h1 {
    font-size: small;
  }
  body {
    background-color:#ffe9e3;
  }
  #map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
  }
  
  